<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<% if(data.length==0){%> 
<% data.forEach(element=>{ %>  
<div class='card'>
    <h1><%=element.country  %> </h1>
<p>date<%=element.date  %></p>
<form action="recordDetails/<% element.id %>" method="GET">
    <input type="submit" value="View-Details">
</form>

 </div> 
 <% }); %> 
<% } %> 
 <% else{%> 
 <p>NO AVAILABLE RECORDS</p>
<% } %>  
</body>
</html>